

<div class="w-full max-w-md mx-auto mt-10">
    <label class="block text-gray-700 text-lg font-semibold mb-2" for="date">
      Select Date
    </label>
    <input class="shadow appearance-none border rounded 
    w-full py-2 px-3 text-gray-700 leading-tight
     focus:outline-none focus:shadow-outline" type="date" [value]="selectedDate| date:'yyyy-MM-dd'" (change)="onDateChange($event)">
</div>
<div class="p-5 grid grid-cols-2 gap-4">
  <app-graph *ngIf="oxygenGraphProperties!=null" [graphProperties]="oxygenGraphProperties" [chartDescription]="'This graph displays the oxygen levels over time.'" [chartTitle]="'Oxygen Levels'" ></app-graph>

  <app-graph *ngIf="turbidityGraphProperties!=null" [graphProperties]="turbidityGraphProperties" [chartDescription]="'This graph shows the turbidity levels in a body of water.'" [chartTitle]="'Turbidity Levels'" ></app-graph>
  
  <app-graph *ngIf="orpGraphProperties!=null" [graphProperties]="orpGraphProperties" [chartDescription]="'This graph represents the Oxidation Reduction Potential (ORP) levels.'" [chartTitle]="'ORP Levels'" ></app-graph>
  
  <app-graph *ngIf="electricalConductivityGraphProperties!=null" [graphProperties]="electricalConductivityGraphProperties" [chartDescription]="'This graph illustrates the electrical conductivity of a solution.'" [chartTitle]="'Electrical Conductivity'" ></app-graph>
  
  <app-graph *ngIf="phGraphProperties!=null" [graphProperties]="phGraphProperties" [chartDescription]="'This graph displays the pH levels of a solution.'" [chartTitle]="'pH Levels'" ></app-graph>
  
  <app-graph *ngIf="temperatureGraphProperties!=null" [graphProperties]="temperatureGraphProperties" [chartDescription]="'This graph shows the temperature variations over time.'" [chartTitle]="'Temperature Variations'" ></app-graph>
</div>

